Host *
  ControlMaster auto
  ControlPath /tmp/%r@%h:%p

#Host gateway
#  Port 443
#  ProxyCommand corkscrew PROXY PORT %h %p
#
#Host github.com
#  HostName github.com
#  ProxyCommand ssh -W %h:%p gateway
